/*--------------------------------------------------------------
  colours
--------------------------------------------------------------*/

/* Primary
================================================== */
$red: #ee2221;
$blk: #000;
$wht: #fff;