@charset "UTF-8";
/*--------------------------------------------------------------
  Abstracts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Base
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Fonts
--------------------------------------------------------------*/
/* Import
================================================== */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/*--------------------------------------------------------------
  colours
--------------------------------------------------------------*/
/* Primary
================================================== */
/*--------------------------------------------------------------
  BEM
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Font Face
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Placeholders
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/
/* Fonts
================================================== */
/* Space
================================================== */
/* Box Shadow
================================================== */
/*--------------------------------------------------------------
  Reset
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

html,
body {
  font: 400 1rem sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
}

ol,
ul {
  padding: 0 0 0 2rem;
}
ol.circumflex,
ul.circumflex {
  list-style: "ˆ  ";
}
ol.asterisk,
ul.asterisk {
  list-style: "*  ";
}

a {
  text-decoration: none;
}

img,
video {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*--------------------------------------------------------------
  Typography
--------------------------------------------------------------*/
h6,
.h6, h5,
.h5, h4,
.h4, h3,
.h3, h2,
.h2, h1,
.h1 {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
  Media Queries
--------------------------------------------------------------*/
/* Mobile
================================================== */
/* Medium
================================================== */
/*--------------------------------------------------------------
  Utils
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  App
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Nav
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Home
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  Products
--------------------------------------------------------------*//*# sourceMappingURL=styles.css.map */