<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <!-- Header -->
	<header>
		<nav>
			{% for button in buttons %}
				<a href="{{ button.url }}">{{ button.title }}</a>
			{% endfor %}
    </nav>

    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q" />
  </header>

  <!-- Content -->
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer>
    I am the footer
  </footer>
</body>
</html>